<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/home/logo.png" type="logo/png">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.20/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/productos_gene.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@5.10.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@5.10.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@5.10.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'es',
                initialView: 'dayGridMonth',

            });
            calendar.render();
        });
    </script>
    <title>CAFÉ tacvuba</title>
</head>

<body>
    <!-- INICIO DE LA BARRA DE NAVEGACION -->
    <nav class="navbar navbar-expand-lg fixed-top" style="height: 6rem;">
        <div class="container">
            <!-- LOGO -->
            <!-- DURAAAANNNNNNNNNNNNNn -->
            <a class="navbar-brand logo fs-2 " href="../index.html">
                <img src="../img/home/logo.png" class="logooo">
                <span>CAFÉ </span>tacvba
            </a>
            <!-- Toggle btn-->
            <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Barra lateral -->
            <div class="offcanvas offcanvas-start border-bottom" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <!-- Barra lateral header -->
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title logo" id="offcanvasNavbarLabel"><span>CAFÉ </span>tacuva</h5>
                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <!-- Barra lateral body -->
                <div class="offcanvas-body d-flex flex-column flex-lg-row">
                    <ul class="navbar-nav justify-content-center flex-grow-0 pe-3 align-items-center fa-bars">
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="../index.html">Inicio</a>
                        </li><!-- 
            <li class="nav-item mx-2">
              <a class="nav-link" href="views/ver_producto_general.html">Productos</a>
            </li> -->
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="nosotros.html">Nosotros</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>
    <!-- FIN DE LA BARRA DE NAVEGACION -->
    <link rel="stylesheet" href="../css/produc.css">
    <link rel="stylesheet" href="../css/home.css">


    <div class="container margindiv" style="margin-top: 7.5rem ; width: 100%;">
        <div class="row">

            <img class="col-xl-5 col-lg-5 col-md-5 col-sm-6  col-xs-1 verproductoimagen " src="../img/cafe/arabica.png" alt="...">
            <div class="col-12 col-lg-8 .offset-sm-4 .offset-xs-11 mt-4 ">
                <h1 class="fw-bold">Café Arabica</h1>

                <div class="row">


                    <br>
                    <p class="mt-4">
                        <span class="fw-bold">Descripción:</span>
                        ☕ Arábica – La joya de los cafés, reconocido por su suavidad y elegancia. Con un perfil delicado y aromático, destaca por sus notas dulces, afrutadas y sutilmente achocolatadas. Es la elección perfecta para quienes buscan un café refinado, de acidez equilibrada y una textura sedosa. Ideal para degustar lentamente y disfrutar de su complejidad en cada sorbo.
                    </p>
                </div>
            </div>


            <div class="row justify-content-center">

                <div class="col-12">
                    <h1 class="heading m-5">Podría <span>interesarte </span></h1>
                </div>



                <div class="col-6 col-lg-4 col-xl-4" style="margin-top: 5px;margin-bottom:5px; ">
                    <div class="card" style="height: 280px;">
                        <a style="margin: auto;" href="../views/robusta.html"><img href class="card-img-top pro" src="../img/cafe/robusta.png" alt="Robusta"></a>
                        <div class="card-body text-center">
                            <div class="icons card-title"></div>
                            <div class="card-text">
                                <a href="../views/robusta.html">
                                    <h4 class="product-title">
                                        <p>Robusta</p>
                                    </h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-lg-4 col-xl-4" style="margin-top: 5px;margin-bottom:5px; ">
                    <div class="card" style="height: 280px;">
                        <a style="margin: auto;" href="../views/liberica.html"><img href class="card-img-top pro" src="../img/cafe/liberico.png" alt="Liberica"></a>
                        <div class="card-body text-center">
                            <div class="icons card-title"></div>
                            <div class="card-text">
                                <a href="../views/liberica.html">
                                    <h4 class="product-title">
                                        <p>Liberica</p>
                                    </h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-lg-4 col-xl-4" style="margin-top: 5px;margin-bottom:5px; ">
                    <div class="card" style="height: 280px;">
                        <a style="margin: auto;" href="../views/excelsa.html"><img href class="card-img-top pro" src="../img/cafe/excelsa.jpg" alt="Excelsa"></a>
                        <div class="card-body text-center">
                            <div class="icons card-title"></div>
                            <div class="card-text">
                                <a href="../views/excelsa.html">
                                    <h4 class="product-title">
                                        <p>Excelsa</p>
                                    </h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>

        <br> <br>
        <div>


        </div>









        <!-- FOOTER -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-3 mx-auto">
                        <div class="single-box">
                            <h2>Acceso rápido</h2>
                            <ul>
                                <li><a href="#">Inicio</a></li>
                                <li><a href="views/ver_producto_general.html">Productos</a></li>
                                <li><a href="views/nosotros.html">Nosotros</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 mx-auto">
                        <div class="single-box">
                            <h2>Información de contacto</h2>
                            <ul>
                                <li><a href="https://www.facebook.com/people/Fernando-Yael/pfbid02qhtaPLddVTbN2t7U9xi1Hber32pbKnBNsuZUoxUVhrgMdp6A5gSutPyd9xtheBbal/" target="_blank">Facebook <i class="bi bi-facebook"></i></a></li>
                                <li><a href="mailto:cafetacvba@gmail.com" target="_blank">CAFEtavuca@gmail.com <i class="bi bi-envelope-heart"></i></a></li>
                                <li><a href="https://www.google.com/maps?q=25.55673929674272,-103.36108547713413" target="_blank">Ubicación <i class="bi bi-geo-alt"></i></a></li>
                            </ul>
                            <p></p>
                            <a href=""></a>
                            <p> </a>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="credit text-center">Creado por <span>
                    <a style="color:#e84393;text-decoration: none;"" href=" https://www.instagram.com/jose_durann_/?utm_source=qr&igshid=NGExMmI2YTkyZg%3D%3D" target="_blank">José</a>,
                    <a style="color:#e84393;text-decoration: none;"" href=" https://www.instagram.com/iceli.ts/" target=" _blank">Lizeth</a>,
                    
                    <a style="color:#e84393;text-decoration: none;"" href=" https://www.instagram.com/.php/" target=" _blank">Fernando</a></span> | all rigth reserve.</div>
            <div style="font-size: 9px;" class="m-1 text-center"><i class="bi bi-c-circle"></i>2023-2023, CAFEtacvba.com, Inc. o sus afiliados.</div>
        </footer>
        <!-- FIN DE FOOTER -->

        <!-- SCRIPTS -->
        <script src="../js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    }
                }
            })
        </script>
        <script>
            function cambiarTituloPestana(nuevoTitulo) {
                document.title = nuevoTitulo;
            }


            window.addEventListener("focus", function() {
                cambiarTituloPestana("CAFÉ tacvba");
            });


            window.addEventListener("blur", function() {
                cambiarTituloPestana("Aún puedes hacer más cosas");
            });
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../js/listas.js"></script>
        <script>
            const enlaces = document.querySelectorAll(".tcategoria");

            enlaces.forEach(enlace => {
                enlace.addEventListener("click", function(event) {
                    event.preventDefault();
                    const valor = this.innerText;
                    const form = document.createElement("form");
                    form.action = "../scripts/verproductos_cat.html";
                    form.method = "post";

                    const input = document.createElement("input");
                    input.type = "hidden";
                    input.name = "tip_cater";
                    input.value = valor;
                    form.appendChild(input);

                    document.body.appendChild(form);
                    form.submit();
                });
            });
        </script>
</body>

</html>