<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../img/home/logo.png" type="logo/png">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>

<body>
    <!-- INICIO DE LA BARRA DE NAVEGACION -->
    <nav class="navbar navbar-expand-lg fixed-top" style="height: 6rem;">
        <div class="container">
            <!-- LOGO -->
            <!-- DURAAAANNNNNNNNNNNNNn -->
            <a class="navbar-brand logo fs-2 " href="../index.html">
                <img src="../img/home/logo.png" class="logooo">
                <span>CAFÉ </span>tacvba
            </a>
            <!-- Toggle btn-->
            <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Barra lateral -->
            <div class="offcanvas offcanvas-start border-bottom" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <!-- Barra lateral header -->
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title logo" id="offcanvasNavbarLabel"><span>CAFÉ </span>tacuva</h5>
                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <!-- Barra lateral body -->
                <div class="offcanvas-body d-flex flex-column flex-lg-row">
                    <ul class="navbar-nav justify-content-center flex-grow-0 pe-3 align-items-center fa-bars">
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="../index.html">Inicio</a>
                        </li><!-- 
            <li class="nav-item mx-2">
              <a class="nav-link" href="views/ver_producto_general.html">Productos</a>
            </li> -->
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="nosotros.html">Nosotros</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>
    <!-- FIN DE LA BARRA DE NAVEGACION -->
    <link rel="stylesheet" href="../css/nosotros.css">
    <div class="container-fondo"></div>
    <br><br>
    <div class="container-debajo">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <h1 class="font-monica">¿Quiénes somos?</h1>
                    </div>
                    <div class="col-lg-12">
                        <p class="font-monica" style="font-size: large; padding-right: 3rem;">

                            <span style="font-weight: bold; color: #740938;" ;>CAFÉ</span> <span style="font-weight: bold;">tacvba</span> es un negocio dedicado a ofrecer café de alta calidad para los amantes de esta bebida. Nos especializamos en la venta de las principales variedades de café: <b>Arábica</b>, <b>Robusta</b>, <b>Liberica</b> y <b>Excelsa</b>, cada una con perfiles únicos de sabor y aroma.

                            Nuestro objetivo es brindar una experiencia auténtica, permitiendo a nuestros clientes disfrutar de cafés cuidadosamente seleccionados, ideales para cualquier ocasión. Ya sea que busques un café suave y aromático o uno intenso y con cuerpo, en <span style="color: #740938;" ;>CAFÉ</span> tacvba encontrarás la opción perfecta para tu gusto.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 casa-fondo">

            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-12">
                <h1 class="font-monica">Disfruta del mejor café, aromas y experiencias únicas</h1>
            </div>
            <div class="col-lg-12">
                <p class="font-monica" style="font-size: large; padding-right: 3rem;">
                    Desde granos suaves y afrutados hasta mezclas intensas y robustas, en <span style="color: #740938;" ;>CAFÉ</span> tacvba encontrarás la variedad perfecta para cada momento. Ya sea para comenzar el día con energía, disfrutar de una tarde relajante o compartir con amigos, nuestro café es la mejor elección.

                    Desde el punto de vista empresarial, ofrecemos opciones ideales para oficinas y negocios, garantizando un café de calidad que mejora la productividad y el bienestar. Con granos seleccionados y un sabor inigualable, hacemos que cada taza sea una experiencia única.
                </p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <hr>
                    </div>
                    <div class="col-lg-12">
                        <h1 class="font-monica">Síguenos en nuestras redes sociales</h1>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-box">
                            <ul>
                                <li>
                                    <div class="mx-auto">
                                        <a href=""><i style="font-size: 2rem; margin: 0.5rem;" class="bi bi-facebook"></i></a>
                                        <a href=""><i style="font-size: 2rem; margin: 0.5rem;" class="bi bi-instagram"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-3 mx-auto">
          <div class="single-box">
            <h2>Acceso rápido</h2>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="views/nosotros.html">Nosotros</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-3 mx-auto">
          <div class="single-box">
            <h2>Información de contacto</h2>
            <ul>
              <li><a href="https://www.facebook.com/people/Fernando-Yael/pfbid02qhtaPLddVTbN2t7U9xi1Hber32pbKnBNsuZUoxUVhrgMdp6A5gSutPyd9xtheBbal/" target="_blank">Facebook <i class="bi bi-facebook"></i></a></li>
              <li><a href="mailto:cafetacvba@gmail.com" target="_blank">CAFEtavuca@gmail.com <i class="bi bi-envelope-heart"></i></a></li>
              <li><a href="https://www.google.com/maps?q=25.55673929674272,-103.36108547713413" target="_blank">Ubicación <i class="bi bi-geo-alt"></i></a></li>
            </ul>
            <p></p>
            <a href=""></a>
            <p> </a>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="credit text-center">Creado por <span>
    <a style="color:#e84393;text-decoration: none;"" href=" https://www.instagram.com/jose_durann_/?utm_source=qr&igshid=NGExMmI2YTkyZg%3D%3D" target="_blank">José</a>,
        <a style="color:#e84393;text-decoration: none;"" href=" https://www.instagram.com/iceli.ts/" target=" _blank">Lizeth</a>,
        <a style="color:#e84393;text-decoration: none;"" href=" https://www.instagram.com/nael.php/" target=" _blank">Fernando</a></span> | all rigth reserve.</div>
    <div style="font-size: 9px;" class="m-1 text-center"><i class="bi bi-c-circle"></i>2023-2023, CAFEtacvba.com, Inc. o sus afiliados.</div>
  </footer>
  <!-- FIN DE FOOTER -->

  <!-- SCRIPTS -->
  <script>
    function cambiarTituloPestana(nuevoTitulo) {
      document.title = nuevoTitulo;
    }
    window.addEventListener("focus", function() {
      cambiarTituloPestana("CAFÉ tacvba");
    });
    window.addEventListener("blur", function() {
      cambiarTituloPestana("Aún puedes hacer más cosas");
    });
  </script>
</body>

</html>